##### https://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work

In [3]:
#https://github.com/marlhakizi/Absenteeism-time-in-hours/blob/master/Absentee.ipynb
    
import pandas as pd
import numpy as np


from sklearn.svm import SVC
import matplotlib.pyplot as plt


from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV


from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection  import cross_val_score

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
df = pd.read_excel('Part 3 -  Absenteeism_at_work.xls')
print(df.shape)

(741, 21)

In [4]:
# print(df.isna().sum())
# print(df.nunique())
# print(df.head(),df.tail())

In [5]:
#drop last row = all null
df.drop(740,inplace=True)
df.describe().T
df.shape

(740, 21)

In [ ]:
# X = df.drop('Absenteeism time in hours',axis=1)
# y = df['Absenteeism time in hours']

# X_train,X_test,y_train ,y_test = train_test_split(X,y,random_state = 42,train_size = 0.8,test_size=0.2)
# #X_train,X_test ,y_train ,y_test

# lin_model = LinearRegression()
# lin_model.fit(X_train,y_train)


# # Make predictions using the testing set
# y_pred = lin_model.predict(X_test)
# y_pred_train = lin_model.predict(X_train)

# print('train root Mean squared error: %.2f'
#       % np.sqrt(mean_squared_error(y_train, y_pred_train)))

# print('test Mean squared error: %.2f'
#       % np.sqrt(mean_squared_error(y_test, y_pred)))
# lin_model.score(X_train,y_train)

In [6]:
df_duplicated = df.copy()
display(df.shape)
for idx, row in df.iterrows():
    hours = row.loc['Absenteeism time in hours']
    if hours > 8:
        days = int(hours/8)
        row_tmp = row
        row_tmp.loc['Absenteeism time in hours'] = 8
        day_of_week = row.loc['Day of the week'] 
        for i in range(days):
            row_tmp.loc['Day of the week']  = day_of_week 
            df_duplicated = df_duplicated.append([row_tmp],ignore_index=True)
            if (day_of_week == 6):
                day_of_week = 2
            else:
                day_of_week += 1
        df_duplicated.drop(idx,inplace=True)

print(df_duplicated.shape)
display(df_duplicated)

(740, 21)

(982, 21)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11.0,26.0,7.0,3.0,1.0,289.0,36.0,13.0,33.0,239554.0,...,0.0,1.0,2.0,1.0,0.0,1.0,90.0,172.0,30.0,4.0
1,36.0,0.0,7.0,3.0,1.0,118.0,13.0,18.0,50.0,239554.0,...,1.0,1.0,1.0,1.0,0.0,0.0,98.0,178.0,31.0,0.0
2,3.0,23.0,7.0,4.0,1.0,179.0,51.0,18.0,38.0,239554.0,...,0.0,1.0,0.0,1.0,0.0,0.0,89.0,170.0,31.0,2.0
3,7.0,7.0,7.0,5.0,1.0,279.0,5.0,14.0,39.0,239554.0,...,0.0,1.0,2.0,1.0,1.0,0.0,68.0,168.0,24.0,4.0
4,11.0,23.0,7.0,5.0,1.0,289.0,36.0,13.0,33.0,239554.0,...,0.0,1.0,2.0,1.0,0.0,1.0,90.0,172.0,30.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,13.0,13.0,7.0,2.0,1.0,369.0,17.0,12.0,31.0,264604.0,...,0.0,1.0,3.0,1.0,0.0,0.0,70.0,169.0,25.0,8.0
979,13.0,13.0,7.0,3.0,1.0,369.0,17.0,12.0,31.0,264604.0,...,0.0,1.0,3.0,1.0,0.0,0.0,70.0,169.0,25.0,8.0
980,13.0,13.0,7.0,4.0,1.0,369.0,17.0,12.0,31.0,264604.0,...,0.0,1.0,3.0,1.0,0.0,0.0,70.0,169.0,25.0,8.0
981,13.0,13.0,7.0,5.0,1.0,369.0,17.0,12.0,31.0,264604.0,...,0.0,1.0,3.0,1.0,0.0,0.0,70.0,169.0,25.0,8.0
982,13.0,13.0,7.0,6.0,1.0,369.0,17.0,12.0,31.0,264604.0,...,0.0,1.0,3.0,1.0,0.0,0.0,70.0,169.0,25.0,8.0

In [7]:
#df_duplicated[df_duplicated['Disciplinary failure']==1] -> all Absenteeism time in hours == 0

#A closer look of the Absenteeism time in hours and Reason for absence columns reveals that all 0's in both 
#Absenteeism time in hours,Month of absence and Reason for absence columns correspond to Absenteeism time
#in hours=0.Doing so also takes out all the Disciplinary failure==1 leaving us with only Disciplinary failure==0.
#This means that this feature is no longer needed for the analysis.

df_2=df_duplicated[df_duplicated['Absenteeism time in hours']!=0]
df_2=df_duplicated.drop(['Disciplinary failure'],axis=1)
len(df_2.ID.unique())

35

In [8]:
df_2.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000,982.000000
mean,18.021385,17.443992,6.404277,3.960285,2.554990,219.766802,27.937882,12.964358,37.114053,272457.953157,94.636456,1.249491,1.128310,0.607943,0.063136,0.643585,79.257637,173.238289,26.393075,7.385947
std,10.597470,8.027883,3.383491,1.410407,1.105325,68.726226,14.628851,7.575630,7.245458,40483.458288,3.919061,0.627175,1.111442,0.488458,0.243332,1.163168,13.097681,7.385983,4.084764,11.457973
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,-9.000000,27.000000,205917.000000,81.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,10.000000,12.000000,3.000000,3.000000,2.000000,179.000000,14.000000,10.000000,32.000000,241476.000000,93.000000,1.000000,0.000000,0.000000,0.000000,0.000000,68.000000,170.000000,23.000000,2.000000
50%,17.000000,19.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264604.000000,95.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,171.000000,25.000000,8.000000
75%,28.000000,23.000000,9.000000,5.000000,4.000000,260.000000,36.000000,16.000000,40.000000,294217.000000,98.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,30.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,111.000000,58.000000,378884.000000,100.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [9]:
transport=df_2.groupby(['ID'])['Transportation expense'].mean()
distance=df_2.groupby(['ID'])['Distance from Residence to Work'].mean()
service_time = df_2.groupby(['ID'])['Service time'].mean()
age = df_2.groupby(['ID'])['Age'].mean()
work_load_avg = df_2.groupby(['ID'])['Work load Average/day '].mean()
hit_target = df_2.groupby(['ID'])['Hit target'].mean()
education=df_2.groupby(['ID'])['Education'].mean()
son=df_2.groupby(['ID'])['Son'].mean()
drink=df_2.groupby(['ID'])['Social drinker'].mean()
smoker=df_2.groupby(['ID'])['Social smoker'].mean()
pet=df_2.groupby(['ID'])['Pet'].mean()
weight=df_2.groupby(['ID'])['Weight'].mean()
height=df_2.groupby(['ID'])['Height'].mean()
body=df_2.groupby(['ID'])['Body mass index'].mean()

hours=df_2.groupby(['ID'])['Absenteeism time in hours'].sum()

df_3 = pd.concat([transport,distance,service_time,age,work_load_avg,hit_target,education,son,drink,smoker,pet,weight,height,
                 body,hours],axis=1)

#df_3

,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
ID,,,,,,,,,,,,,,,
1.0,235.0,11.0,14.000000,37.0,275948.181818,95.136364,3.0,1.0,0.0,0.0,1.0,88.0,172.0,29.0,122.0
2.0,235.0,29.0,12.000000,48.0,224626.000000,92.800000,1.0,1.0,0.0,1.0,5.0,88.0,163.0,33.0,25.0
3.0,179.0,51.0,19.266129,38.0,264725.330645,95.217742,1.0,0.0,1.0,0.0,0.0,89.0,170.0,31.0,594.0
4.0,118.0,14.0,13.000000,40.0,271219.000000,95.000000,1.0,1.0,1.0,0.0,8.0,98.0,170.0,34.0,0.0
5.0,235.0,20.0,13.000000,43.0,265689.000000,92.333333,1.0,1.0,1.0,0.0,0.0,106.0,167.0,38.0,104.0
6.0,189.0,29.0,13.000000,33.0,272784.000000,94.500000,1.0,2.0,0.0,0.0,2.0,69.0,167.0,25.0,88.0
7.0,279.0,5.0,14.000000,39.0,308931.142857,94.714286,1.0,2.0,1.0,1.0,0.0,68.0,168.0,24.0,38.0
8.0,231.0,35.0,14.000000,39.0,271219.000000,95.000000,1.0,2.0,1.0,0.0,2.0,100.0,170.0,35.0,0.0
9.0,228.0,14.0,16.000000,58.0,245193.027027,95.891892,1.0,2.0,0.0,0.0,1.0,65.0,172.0,22.0,494.0
10.0,361.0,52.0,3.000000,28.0,245142.481481,93.555556,1.0,1.0,1.0,0.0,4.0,80.0,172.0,27.0,217.0
11.0,289.0,36.0,13.000000,33.0,271231.579710,94.289855,1.0,2.0,1.0,0.0,1.0,90.0,172.0,30.0,682.0
12.0,233.0,51.0,1.000000,31.0,272444.833333,96.000000,2.0,1.0,1.0,0.0,8.0,68.0,178.0,21.0,31.0
13.0,369.0,17.0,11.444444,31.0,260149.703704,92.777778,1.0,3.0,1.0,0.0,0.0,70.0,169.0,25.0,279.0
14.0,155.0,12.0,14.000000,34.0,284925.133333,96.626667,1.0,2.0,1.0,0.0,0.0,95.0,196.0,25.0,825.0
15.0,291.0,31.0,12.000000,40.0,278457.716981,91.584906,1.0,1.0,1.0,0.0,1.0,73.0,171.0,25.0,392.0
16.0,118.0,15.0,24.000000,46.0,248642.500000,97.500000,1.0,2.0,1.0,1.0,0.0,75.0,175.0,25.0,16.0
17.0,179.0,22.0,17.000000,40.0,289848.652174,95.869565,2.0,2.0,0.0,1.0,0.0,63.0,170.0,22.0,150.0
18.0,330.0,16.0,4.000000,28.0,264744.400000,95.350000,2.0,0.0,0.0,0.0,0.0,84.0,182.0,25.0,150.0
19.0,291.0,50.0,12.000000,32.0,281129.000000,89.333333,1.0,0.0,1.0,0.0,0.0,65.0,169.0,23.0,6.0
20.0,260.0,50.0,11.000000,36.0,283347.818182,94.745455,1.0,4.0,1.0,0.0,0.0,65.0,168.0,23.0,414.0
21.0,268.0,11.0,8.000000,33.0,256998.000000,94.000000,2.0,0.0,0.0,0.0,0.0,79.0,178.0,25.0,16.0
22.0,179.0,26.0,10.500000,30.0,269019.383333,93.966667,3.0,0.0,0.0,0.0,0.0,56.0,171.0,19.0,384.0
23.0,378.0,49.0,25.285714,36.0,289885.142857,96.714286,1.0,2.0,0.0,1.0,4.0,65.0,174.0,21.0,40.0
24.0,246.0,25.0,16.000000,41.0,287035.425532,92.659574,1.0,0.0,1.0,0.0,0.0,67.0,170.0,23.0,390.0
25.0,235.0,16.0,8.000000,32.0,254817.500000,95.600000,3.0,0.0,0.0,0.0,0.0,75.0,178.0,25.0,42.0
26.0,300.0,26.0,13.000000,43.0,239528.090909,97.909091,1.0,2.0,1.0,1.0,1.0,77.0,175.0,25.0,138.0
27.0,184.0,42.0,7.000000,27.0,301190.142857,95.142857,1.0,0.0,0.0,0.0,0.0,58.0,167.0,21.0,27.0
28.0,225.0,26.0,5.951220,28.0,272808.085366,94.378049,1.0,1.0,0.0,0.0,2.0,69.0,169.0,24.0,428.0
29.0,225.0,15.0,15.000000,41.0,246520.333333,98.333333,4.0,2.0,1.0,0.0,2.0,94.0,182.0,28.0,18.0
30.0,157.0,27.0,6.000000,29.0,258038.571429,93.714286,1.0,0.0,1.0,1.0,0.0,75.0,185.0,22.0,41.0
31.0,388.0,15.0,9.000000,50.0,328018.000000,96.666667,1.0,0.0,0.0,0.0,0.0,76.0,178.0,24.0,16.0
32.0,289.0,48.0,29.000000,49.0,309128.200000,92.600000,1.0,0.0,0.0,0.0,2.0,108.0,172.0,36.0,16.0
33.0,248.0,25.0,14.000000,47.0,266547.761905,94.285714,1.0,2.0,0.0,0.0,1.0,86.0,165.0,32.0,66.0
34.0,118.0,10.0,10.857143,37.0,273323.900000,95.400000,1.0,0.0,0.0,0.0,0.0,83.0,172.0,28.0,474.0
36.0,118.0,13.0,18.000000,50.0,284274.606557,95.229508,1.0,1.0,1.0,0.0,0.0,98.0,178.0,31.0,530.0

In [16]:

B=df_2.ID.unique()
sor=sorted(B)
print(sor)

de=pd.get_dummies(df_2['Reason for absence'],prefix='Reason')
print(de)





















# hrs=allabsents[['ID','Absenteeism time in hours']]
# x_f=pd.concat([de,hrs],axis=1)
# #x_f.groupby(['Absenteeism time in hours'])['Reason_1'].sum()
# bl=de.columns
# ho=[]
# for i in bl:
#     for j in sor:
#         r=x_f[x_f['ID']==j]
#         so=sum(r[r[i]!=0][i])
#         ho.append(so)
# ne={'ID':sor,'Hrs':zz['Absenteeism time in hours'].values,'Hit target':zz['Hit target'].values,'Work':zz['Work load Average/day '].values,'Age':zz['Age'].values,
#      'Transportation':zz['Transportation expense'].values,'Service time':zz['Service time'].values,'Height':zz['Height'].values,
#      'BMI':zz['Body mass index'].values,'Weight':zz['Weight'].values,'Social drinker':zz['Social drinker'].values,
#      'Social smoker':zz['Social smoker'].values,'Education':zz['Education'].values,'Pet':zz['Pet'].values,'Distance':zz['Distance from Residence to Work'].values
#      ,'Reason_1':ho[0:33],'Reason_3':ho[33:66],
#     'Reason_4':ho[66:99], 'Reason_5':ho[99:132], 'Reason_6':ho[132:165], 'Reason_7':ho[165:198],
#        'Reason_8':ho[198:231], 'Reason_9':ho[231:264], 'Reason_10':ho[264:297], 'Reason_11':ho[297:330], 'Reason_12':ho[330:363],
#        'Reason_13':ho[363:396], 'Reason_14':ho[396:429], 'Reason_15':ho[429:462], 'Reason_16':ho[462:495], 'Reason_17':ho[495:528],
#        'Reason_18':ho[528:561], 'Reason_19':ho[561:594], 'Reason_21':ho[594:627], 'Reason_22':ho[627:660], 'Reason_23':ho[660:693],
#        'Reason_24':ho[693:726], 'Reason_25':ho[726:759], 'Reason_26':ho[759:792], 'Reason_27':ho[792:825], 'Reason_28':ho[825:858]}

# yoo=pd.DataFrame(data=ne)

# month=pd.get_dummies(allabsents['Month of absence'],prefix='Month')
# day=pd.get_dummies(allabsents['Day of the week'],prefix='day')
# season=pd.get_dummies(allabsents['Seasons'],prefix='Season')
# rest=pd.concat([month,day,season,hrs],axis=1)
# unique_month=month.columns
# mo=[]
# rest1=rest.drop(['Absenteeism time in hours'],axis=1)
# for i in unique_month:
#     for j in sor:
#         r=rest1[rest1['ID']==j]
#         ki=sum(r[r[i]!=0][i])
#         mo.append(ki)

# mois={'Month_1':mo[0:33],'Month_2':mo[33:66],
#     'Month_3':mo[66:99], 'Month_4':mo[99:132], 'Month_5':mo[132:165], 'Month_6':mo[165:198],
#        'Month_7':mo[198:231], 'Month_8':mo[231:264], 'Month_9':mo[264:297], 'Month_10':mo[297:330], 'Month_11':mo[330:363],
#        'Month_12':mo[363:396]} 
# newmonth=pd.DataFrame(data=mois)

# unique_season=season.columns
# kj=[]
# for i in unique_season:
#     for j in sor:
#         r=rest1[rest1['ID']==j]
#         ku=sum(r[r[i]!=0][i])
#         kj.append(ku)
# sais={'Season_1':kj[0:33],'Season_2':kj[33:66],
#     'Season_3':kj[66:99], 'Season_4':kj[99:132]} 
# newseason=pd.DataFrame(data=sais)

# unique_day=day.columns
# hh=[]
# for i in unique_day:
#     for j in sor:
#         r=rest1[rest1['ID']==j]
#         oo=sum(r[r[i]!=0][i])
#         hh.append(oo)
# jour={'day_2':hh[0:33],'day_3':hh[33:66],
#     'day_4':hh[66:99], 'day_5':mo[99:132], 'day_6':mo[132:165]}
# newday=pd.DataFrame(data=jour)

# bog=pd.concat([yoo,newmonth,newseason,newday],axis=1)
# bog[0:5][['ID', 'Hrs', 'Hit target', 'Work', 'Age', 'Transportation',
#        'Service time', 'Height', 'BMI', 'Weight', 'Social drinker',
#        'Social smoker', 'Distance', 'Reason_1', 'Reason_3',
#        'Reason_4']]

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 36.0]
     Reason_0.0  Reason_1.0  Reason_2.0  Reason_3.0  Reason_4.0  Reason_5.0  \
0             0           0           0           0           0           0
1             1           0           0           0           0           0
2             0           0           0           0           0           0
3             0           0           0           0           0           0
4             0           0           0           0           0           0
..          ...         ...         ...         ...         ...         ...
978           0           0           0           0           0           0
979           0           0           0           0           0           0
980           0           0           0           0           0           0
981           0           0           0           0           0           0
982           0           0           0           0           0           0

     Reason_6.0  Reason_7.0  Reason_8.0  Reason_9.0  ...  Reason_18.0  \
0             0           0           0           0  ...            0
1             0           0           0           0  ...            0
2             0           0           0           0  ...            0
3             0           1           0           0  ...            0
4             0           0           0           0  ...            0
..          ...         ...         ...         ...  ...          ...
978           0           0           0           0  ...            0
979           0           0           0           0  ...            0
980           0           0           0           0  ...            0
981           0           0           0           0  ...            0
982           0           0           0           0  ...            0

     Reason_19.0  Reason_21.0  Reason_22.0  Reason_23.0  Reason_24.0  \
0              0            0            0            0            0
1              0            0            0            0            0
2              0            0            0            1            0
3              0            0            0            0            0
4              0            0            0            1            0
..           ...          ...          ...          ...          ...
978            0            0            0            0            0
979            0            0            0            0            0
980            0            0            0            0            0
981            0            0            0            0            0
982            0            0            0            0            0

     Reason_25.0  Reason_26.0  Reason_27.0  Reason_28.0
0              0            1            0            0
1              0            0            0            0
2              0            0            0            0
3              0            0            0            0
4              0            0            0            0
..           ...          ...          ...          ...
978            0            0            0            0
979            0            0            0            0
980            0            0            0            0
981            0            0            0            0
982            0            0            0            0

[982 rows x 28 columns]

In [12]:
# X = df_3.drop(columns=['ID','Absenteeism time in hours'],axis=1)
# y = df_3['Absenteeism time in hours']

X = df_3.drop(columns=['Absenteeism time in hours'],axis=1)
y = df_3['Absenteeism time in hours']

display(X.shape)


X_train,X_test,y_train ,y_test = train_test_split(X,y,random_state = 42,train_size = 0.8,test_size=0.2)
#X_train,X_test ,y_train ,y_test
lin_model = LinearRegression()
lin_model.fit(X_train,y_train)


# Make predictions using the testing set
y_pred = lin_model.predict(X_test)
y_pred_train = lin_model.predict(X_train)

print('train root Mean squared error: %.2f'
      % np.sqrt(mean_squared_error(y_train, y_pred_train)))

print('test Mean squared error: %.2f'
      % np.sqrt(mean_squared_error(y_test, y_pred)))

lin_model.score(X_test,y_test)

(35, 14)

train root Mean squared error: 111.91
test Mean squared error: 386.51

-0.8445846622707953