In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse

C:\Users\user\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\user\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\user\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [114]:
df = pd.read_csv('housing.csv')
df.head()

#explore data set
#display(df.shape,df.head(),df.tail(),df.columns,df.info(),df.describe().T)
#display(df.isna().sum(),df.nunique())

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [101]:
lin_reg = LinearRegression()
lin_reg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [102]:
X =  df.loc[:,['median_income','total_rooms','latitude']]
display(X.head(),X.shape)

   median_income  total_rooms  latitude
0         8.3252        880.0     37.88
1         8.3014       7099.0     37.86
2         7.2574       1467.0     37.85
3         5.6431       1274.0     37.85
4         3.8462       1627.0     37.85

(20640, 3)

In [ ]:
y = df['median_house_value'].values
y

In [ ]:
lin_reg.fit(X,y)

In [ ]:
display(lin_reg.coef_,lin_reg.intercept_)

In [ ]:
predictions = lin_reg.predict(X)
lin_reg_rmse = np.sqrt(mse(y,predictions))
lin_reg_rmse

In [ ]:
#coef = lin_reg.coef_[:,np.newaxis]
#display(coef.shape)
(X.head().shape)
X.head() @ lin_reg.coef_ + lin_reg.intercept_
predictions[0:5]

In [ ]:
df.corr()['median_house_value']

### label encoder

In [51]:
from sklearn.preprocessing import LabelEncoder

In [52]:
encoder = LabelEncoder()

In [53]:
df['encoder_ocean_proximity'] = encoder.fit_transform(df['ocean_proximity'])
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,encoder_ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,1
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,1
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,1
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,1
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,1

### OneHotEncoder

In [62]:
from sklearn.preprocessing import OneHotEncoder

In [97]:
encoder_one = OneHotEncoder()

In [ ]:
#encoder_one.get_feature_names

In [64]:
encoder_one_ocean_proximity = encoder_one.fit_transform(df['ocean_proximity'].to_numpy().reshape(-1,1))
encoder_one_ocean_proximity

<20640x5 sparse matrix of type '<class 'numpy.float64'>'
	with 20640 stored elements in Compressed Sparse Row format>

In [65]:
encoder_one_ocean_proximity.toarray()

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [66]:
display(type(encoder_one_ocean_proximity) ,type(encoder_one_ocean_proximity.toarray()),type(df))
#concat with original data
#df = pd.concat([df, ohe_df], axis=1).drop(['ocean_proximity'], axis=1)

scipy.sparse.csr.csr_matrix

numpy.ndarray

pandas.core.frame.DataFrame

In [74]:
df.drop('ocean_proximity',axis=1,inplace=True)

x = np.append(df.values , encoder_one_ocean_proximity.toarray(),axis=1)
x.shape

(20640, 14)

In [76]:
encoder_one.get_feature_names()

array(['x0_<1H OCEAN', 'x0_INLAND', 'x0_ISLAND', 'x0_NEAR BAY',
       'x0_NEAR OCEAN'], dtype=object)

### imputation

In [78]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [80]:
from sklearn.impute import SimpleImputer

In [95]:
imputer = SimpleImputer(strategy='median')
X = imputer.fit_transform(df.total_bedrooms.to_numpy().reshape(-1,1))
X[:10]
np.isnan(X).any()
df.total_bedrooms = X
df.isna().sum()

numpy.ndarray

## scaling

In [115]:
from sklearn.preprocessing import StandardScaler

In [116]:
scaler = StandardScaler()
df.drop('ocean_proximity',axis=1,inplace=True)

In [117]:
scaler.fit_transform(df.median_income.to_numpy().reshape(-1,1))

array([[ 2.34476576],
       [ 2.33223796],
       [ 1.7826994 ],
       ...,
       [-1.14259331],
       [-1.05458292],
       [-0.78012947]])