In [3]:
import nltk
import re
from nltk.corpus import reuters

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [11]:
#10788 all documents
len(reuters.fileids())

10788

In [4]:
#document
reuters.fileids()[:5]

['test/14826', 'test/14828', 'test/14829', 'test/14832', 'test/14833']

In [5]:
#text of specific document
reuters.raw('test/14828')

"CHINA DAILY SAYS VERMIN EAT 7-12 PCT GRAIN STOCKS\n  A survey of 19 provinces and seven cities\n  showed vermin consume between seven and 12 pct of China's grain\n  stocks, the China Daily said.\n      It also said that each year 1.575 mln tonnes, or 25 pct, of\n  China's fruit output are left to rot, and 2.1 mln tonnes, or up\n  to 30 pct, of its vegetables. The paper blamed the waste on\n  inadequate storage and bad preservation methods.\n      It said the government had launched a national programme to\n  reduce waste, calling for improved technology in storage and\n  preservation, and greater production of additives. The paper\n  gave no further details.\n  \n\n"

In [7]:
#access the tokens specific document
reuters.words('test/14828')[:10]

['CHINA', 'DAILY', 'SAYS', 'VERMIN', 'EAT', '7', '-', '12', 'PCT', 'GRAIN']

In [19]:
#category
reuters.categories('test/14828') ,reuters.categories('test/14826')

(['grain'], ['trade'])

In [18]:
reuters.fileids('grain')[:5]

['test/14828', 'test/14832', 'test/14841', 'test/14858', 'test/15033']

In [32]:
reuters.fileids('coffee')[:10]

['test/14840',
 'test/15198',
 'test/15329',
 'test/15357',
 'test/15540',
 'test/15584',
 'test/15725',
 'test/15737',
 'test/16097',
 'test/16115']

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

In [26]:
tv = TfidfVectorizer()

In [39]:
corpus = [reuters.raw(doc) for doc in reuters.fileids('coffee')[:10]]
labels = reuters.fileids('coffee')[:10]
corpus_df = pd.DataFrame({'Document':corpus,
                         'Category':labels})
corpus_df

                                            Document    Category
0  INDONESIAN COMMODITY EXCHANGE MAY EXPAND\n  Th...  test/14840
1  COLOMBIA BUSINESS ASKED TO DIVERSIFY FROM COFF...  test/15198
2  COFFEE COULD DROP TO 70/80 CTS, CARDENAS SAYS\...  test/15329
3  COLOMBIA COFFEE REGISTRATIONS REMAIN OPEN\n  C...  test/15357
4  BRAZILIAN COFFEE RAINFALL\n  THE FOLLOWING RAI...  test/15540
5  PRICES GENERALLY LOWER AT NAIROBI COFFEE AUCTI...  test/15584
6  COLOMBIA JAN EXPORTS UP BUT COFFEE VALUES FALL...  test/15725
7  EXPORTS OTHER THAN COFFEE RISE SHARPLY IN COLO...  test/15737
8  UGANDA PULLS OUT OF COFFEE MARKET - TRADE SOUR...  test/16097
9  PATON REPORTS U.S. GREEN COFFEE ROASTINGS HIGH...  test/16115

In [40]:
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

In [41]:
def normalize_document(doc):
    doc = re.sub(r'[^a-zA-Z0-9\s]','',doc)
    doc = doc.lower().strip()
    
    tokens = wpt.tokenize(doc)
    
    filtered_tokens = [token for token in tokens if token not in stop_words]
    
    doc = ' '.join(filtered_tokens)
    
    return doc

In [42]:
norm_corpus = corpus_df['Document'].map(lambda doc: normalize_document(doc))
norm_corpus

0    indonesian commodity exchange may expand indon...
1    colombia business asked diversify coffee colom...
2    coffee could drop 7080 cts cardenas says inter...
3    colombia coffee registrations remain open colo...
4    brazilian coffee rainfall following rainfall r...
5    prices generally lower nairobi coffee auction ...
6    colombia jan exports coffee values fall value ...
7    exports coffee rise sharply colombia colombian...
8    uganda pulls coffee market trade sources ugand...
9    paton reports us green coffee roastings higher...
Name: Document, dtype: object

In [44]:
tv_matrix = tv.fit_transform(norm_corpus)
vocab = tv.get_feature_names()
df = pd.DataFrame(np.round(tv_matrix.toarray(),3),columns=vocab)
df

,100,10790,11895,12664,13,1322804,1375,139860,14,140950,...,weeks,without,worlds,worth,would,year,years,yohai,york,yoweri
0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.041,0.041,0.069,0.000,0.000,0.000,0.000,0.000
1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.141,0.000,0.000
2,0.000,0.135,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.135,0.000
3,0.000,0.000,0.000,0.000,0.081,0.081,0.000,0.000,0.000,0.000,...,0.000,0.081,0.000,0.000,0.207,0.043,0.081,0.000,0.000,0.000
4,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
5,0.000,0.000,0.083,0.083,0.000,0.000,0.166,0.083,0.083,0.083,...,0.083,0.000,0.000,0.000,0.000,0.045,0.000,0.000,0.000,0.000
6,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.134,0.000,0.000,0.000,0.000
7,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.139,0.000,0.000,0.000,0.000
8,0.068,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.073,0.000,0.000,0.000,0.068
9,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.132,0.000,0.000,0.000,0.000

In [65]:
df.iloc[0].nlargest(3)

exchange    0.531
rubber      0.327
trading     0.327
Name: 0, dtype: float64